{% extends 'base.html' %}

{% block content %}
    <div class="main p-3">
    <h2 class="p-4">URL Shortner</h2>
    <div class="mb-3">
        <form action="" method="post">
            {% csrf_token %}
            {{form.long_url}}
        </form>
    </div>
    {% if new_url %}
    <div class="card mb-5">
        <div class="card-body">
            <h3>New URL: <span><a href="{{new_url}}">{{new_url}}</a></span></h3>
            <h5>Previous URL: <span><a href="{{old_url}}">{{old_url}}</a></span></h5>
            <h5>This URL was followed: <span>{{followed}} times</span></h5>
        </div>
    </div>
    {% endif %}

    {% if errors %}
        <div class="alert alert-danger mb-5" role="alert">
            <p>{{errors}}</p>
        </div>
    {% endif %}


    {% if message %}
    <div class="alert alert-warning mb-5" role="alert">
        {{message}}
    </div>
    <div class="card-body">
        <h3>This URL was followed: <span>{{followed}} times</span></h3>
    </div>
    {% endif %}

{% endblock %}